# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Dev/StaticSheepGame/Debug/
Dev/StaticSheepGame/Game/Debug/
Dev/StaticSheepGame/SheepEngine/Debug/
Dev/StaticSheepGame/SheepGraphics/Debug/
Dev/StaticSheepGame/SheepPhysics/Debug/
Dev/StaticSheepGame/ipch/
Dev/StaticSheepGame/luaSource/Debug/
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo.sdf
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/CL.read.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/CL.write.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/DirectX 11 Demo.lastbuildstate
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/DirectX 11 Demo.log
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/cl.command.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/link-cvtres.read.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/link-cvtres.write.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/link-rc.read.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/link-rc.write.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/link.command.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/link.read.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/link.write.1.tlog
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/vc110.idb
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/vc110.pdb
Dev/GFX_Sandbox/References/Tutorials/Ant_Tweak_Bar/AntTweakBar/src/AntTweakBar - Shortcut.lnk
Dev/GFX_Sandbox/DirectX 11 Demo/Debug/DirectX 11 Demo.ilk
Dev/GFX_Sandbox/DirectX 11 Demo/Debug/DirectX 11 Demo.pdb
Documents/~$Introspection.pptx
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo.opensdf
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo/Debug/DirectX 11 Demo.unsuccessfulbuild
Dev/GFX_Sandbox/DirectX 11 Demo/DirectX 11 Demo.v11.suo
Dev/StaticSheepGame/Game/Release/CL.read.1.tlog
Dev/StaticSheepGame/Game/Release/CL.write.1.tlog
Dev/StaticSheepGame/Game/Release/Game.lastbuildstate
Dev/StaticSheepGame/Game/Release/Game.log
Dev/StaticSheepGame/Game/Release/Game.pch
Dev/StaticSheepGame/Game/Release/cl.command.1.tlog
Dev/StaticSheepGame/Game/Release/link-cvtres.read.1.tlog
Dev/StaticSheepGame/Game/Release/link-cvtres.write.1.tlog
Dev/StaticSheepGame/Game/Release/link-rc.read.1.tlog
Dev/StaticSheepGame/Game/Release/link-rc.write.1.tlog
Dev/StaticSheepGame/Game/Release/link.command.1.tlog
Dev/StaticSheepGame/Game/Release/link.read.1.tlog
Dev/StaticSheepGame/Game/Release/link.write.1.tlog
Dev/StaticSheepGame/Game/Release/vc110.pdb
Dev/StaticSheepGame/Release/Game.pdb
Dev/StaticSheepGame/Release/SheepEngine.exp
Dev/StaticSheepGame/Release/SheepEngine.pdb
Dev/StaticSheepGame/Release/SheepPhysics.exp
Dev/StaticSheepGame/Release/SheepPhysics.pdb
Dev/StaticSheepGame/SheepEngine/Release/CL.read.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/CL.write.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/SheepEngine.lastbuildstate
Dev/StaticSheepGame/SheepEngine/Release/SheepEngine.log
Dev/StaticSheepGame/SheepEngine/Release/SheepEngine.pch
Dev/StaticSheepGame/SheepEngine/Release/SheepEngine.write.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/cl.command.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/link-cvtres.read.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/link-cvtres.write.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/link-rc.read.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/link-rc.write.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/link.command.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/link.read.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/link.write.1.tlog
Dev/StaticSheepGame/SheepEngine/Release/vc110.pdb
Dev/StaticSheepGame/SheepPhysics/Release/CL.read.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/CL.write.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/SheepPhysics.lastbuildstate
Dev/StaticSheepGame/SheepPhysics/Release/SheepPhysics.log
Dev/StaticSheepGame/SheepPhysics/Release/SheepPhysics.pch
Dev/StaticSheepGame/SheepPhysics/Release/SheepPhysics.write.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/cl.command.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/link-cvtres.read.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/link-cvtres.write.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/link-rc.read.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/link-rc.write.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/link.command.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/link.read.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/link.write.1.tlog
Dev/StaticSheepGame/SheepPhysics/Release/vc110.pdb
Dev/StaticSheepGame/luaSource/Release/CL.read.1.tlog
Dev/StaticSheepGame/luaSource/Release/CL.write.1.tlog
Dev/StaticSheepGame/luaSource/Release/Lib-link.read.1.tlog
Dev/StaticSheepGame/luaSource/Release/Lib-link.write.1.tlog
Dev/StaticSheepGame/luaSource/Release/cl.command.1.tlog
Dev/StaticSheepGame/luaSource/Release/lib.command.1.tlog
Dev/StaticSheepGame/luaSource/Release/luaSource.lastbuildstate
Dev/StaticSheepGame/luaSource/Release/luaSource.log
Dev/StaticSheepGame/luaSource/Release/vc110.pdb
*.opensdf
*.tlog
*.log
*.lastbuildstate
*.pch
*.sdf
